:host {
  display: block;
  padding: 10px;
  padding-top: 60px; /* Offset for fixed header */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

@media (min-width: 768px) {
  :host {
    padding-top: 80px;
  }
}


