.login-modal {
  max-width: 400px;
  max-height: auto;
}

.auth-switch {
  margin-top: 20px;
  text-align: center;
  font-size: 12px;
  color: black;
}

.auth-switch a {
  color: black;
  cursor: pointer;
  font-weight: bold;
  text-decoration: underline;
}

.auth-switch a:hover {
  background: black;
  color: white;
  text-decoration: none;
}

.form-row {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}

.modal-overlay.auth-modal-overlay {
  z-index: 1500;
}
