@model DomusMercatoris.Core.Entities.AutoCategory
@{
    var depth = (int)ViewData["Depth"];
    var allCats = (List<DomusMercatoris.Core.Entities.AutoCategory>)ViewData["AllCats"];
    var excludeId = (int?)ViewData["ExcludeId"];

    if (!excludeId.HasValue || Model.Id != excludeId.Value)
    {
        var prefix = new string('-', depth * 2);
        var name = (prefix.Length > 0 ? prefix + " " : "") + Model.Name;
        <option value="@Model.Id">@name</option>

        var children = allCats.Where(x => x.ParentId == Model.Id).OrderBy(x => x.Name);
        foreach(var child in children)
        {
            var childViewData = new ViewDataDictionary(ViewData);
            childViewData["Depth"] = depth + 1;
            childViewData["AllCats"] = allCats;
            childViewData["ExcludeId"] = excludeId;
            <partial name="_AutoCategoryOption" model="child" view-data="childViewData" />
        }
    }
}
